*{
	padding: 0;
	margin: 0;
}
@import  url（base.css);
header{
	width:100%; 
	height:0.9rem;
	background: #a9acad;
	position:fixed;
	top: 0;

}
.t{
	width:7.02rem; 
	height:0.9rem; 
	background: #a9acad;
	margin:0 auto ;
}
.t a{
	display: block;
	width:0.48rem; 
	height:0.9rem;
	float: left;
	text-decoration: none; 
}
.t a:nth-child(2){
	float: right;
}
.t a:nth-child(3){
	float: right;
}
.t a i{
	display: block;
	color: #fff; 
	font-size:0.4rem;
	margin-top: 0.2rem; 
}
.ttt{
	width: 100%;
	height: 2.88rem;
}
.m{
	width:100%; 
	height:1.98rem; 
	background:#a9acad;
	position:fixed;
	top:0.9rem; 
}
.mh{
	width:7.02rem; 
	height:1.58rem; 
	background:#a9acad;
	margin: 0 auto; 
}
.mhz{
	width:1.58rem; 
	height:1.58rem; 
	background:; 
	float: left;
}
.mhz img{
	display: block;
	width:1.58rem; 
	height:1.58rem; 
} 
.mhy{
	width:5.04rem; 
	height:1.58rem; 
	background:; 
	float: right;
}
.mhys{
	width:100%;
	height:1.06rem; 
	background:#a9acad;
	display:flex;
	justify-content: space-between;
	flex-direction: column; 
}
.p1{
	color: #fff;
	font-size:0.48rem; 
}
.p2{
	color: #fff;
	font-size:0.3rem; 
}
.mhyx{
	width:100%;
	height:0.52rem; 
	background:#a9acad;
	font-size: 0.24rem;
	display: flex;
	align-items: flex-end; 
}
.mhyx i{
	color: red;
	font-size: 0.30rem;
}
.d{
	width:100%; 
	height:0.6rem; 
	background:#fff;
	display: flex;
	justify-content: space-between; 
}
.d1{
	display: block;
	width:2.22rem; 
	height:0.6rem; 
	background:#fff;
	text-decoration: none;
	font-size:0.3rem; 
	color:#a3a3a4;
	line-height: 0.6rem;
	text-align:center ;  
}
.d1:first-child{
	color: #333;
	font-weight: bold;
}.ti{
	width:100%;
	height:0.07rem; 
	background:#fff; 
	border-bottom:0.01rem solid #f7c7c7;
	padding-left: 0.85rem;
	box-sizing: border-box; 
}
.ti1{
	width:0.52rem; 
	height:0.07rem;
	background:#eb6877 ; 
	border-radius: 0.2rem;
}
.c{
	width:100%; 
	height:1.56rem; 
}
.c1{
	width:3.37rem; 
	height:1.56rem;
	float: left;

}
.c1 a img{
	display: block;
	width:1.56rem; 
	height: 1.56rem;
	float: right;
}
.c2{
	display: block;
	width:3.36rem; 
	height:1.56rem;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.p6{
	font-size:0.3rem; 
	color:#333; 
}
.p7{
	font-size:0.24rem; 
	color:#e4508b; 
}
.p8{
	display:block;
	font-size:0.24rem; 
	color:#dc1717;
	width: 2.97rem; 
}
.c3{
	width:1.24rem; 
	height:0.27rem;
	background: yellow; 
}
.c3 img{
	display: block;
	width:1.24rem; 
	height:0.27rem;
	background: yellow; 
}
.c4{
	width:0.77rem; 
	height: 1.56rem;
	background:;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
}
.c4 a{
	display: block;
	width:0.36rem; 
	height:0.36rem; 
	text-decoration: none;
}
.c4 a i{
	display: block;
	font-size: 0.36rem;
	color:#ec3ab8; 
}
.kk{
	width:100%; 
	height:0.4rem; 
	background:#fff; 
}
.cl{
	width:1.2rem; 
	height:7.88rem; 
	background:#fcf3f3;
	position: fixed; 
	top:3.56rem; 
	left: 0;
}
.cl1{
	width:1..39rem; 
	height:1.13rem; 
	background:#fcf3f3;
	font-size:0.3rem; 
	color:#b0a8a8;
	display: flex;
	justify-content: center;  
}
.cl1:first-child{
	color: #333;
	font-weight: bold;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.db{
	width:100%; 
	height:1rem; 
	background:#333 ;
	position:fixed ;
	bottom:0;
	left: 0;

}
.db1{
	width:1.11rem; 
	height:1.11rem; 
	background:#888888;
	border-radius: 50%;
	float:left;
	position: fixed;
	bottom: 0.17rem;
	left: 0.25rem;
	font-size:0.72rem;
	color: #ead3d3;
	line-height:1.11rem; 
	text-align: center;
}
.db2{
	width:3rem; 
	height:100%; 
	background:#333;
	float:left;
	margin-left:1.81rem;
	display: flex;
	flex-direction: column;
	justify-content:center; 
}
.db2 p{
	font-size:0.26rem; 
	color:#6dddd9; 
}
.db3{
	width:2.1rem; 
	height:100%; 
	background:#6a6a6b;
	float: right;
	font-size:0.32rem; 
	color:#fff; 
	line-height:1rem; 
	text-align: center;
}